# Адрес vmselect Victoria Metrics
VM_SELECT_NODES=http://vmselect:8481

# AccountID для multi-tenancy режима (по умолчанию 0)
VITE_DEFAULT_ACCOUNT_ID=0

# Примеры:
# VM_SELECT_NODES=http://10.0.1.10:8481
# VM_SELECT_NODES=https://vmselect.example.com:8481 